@charset "utf-8";

#Profile h3 {
    text-align: center;
}
#Profile p {
    text-align: left;
}
#Profile img {
    height: 200px;
}
.txt_left_center {
    width: fit-content;
    margin: auto;
}


#Skill .col {
    margin: auto;
}

.skill_mov {
    height: 600px;
}
.skill_img {
    height: 300px;
}
.sub_txt {
    text-indent: 1rem;
}

#Make section {
    margin: 100px;
}
